name: Build and publish image

on: 
  push:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/goshlanguage/k8s-device-plugin:latest
            ghcr.io/goshlanguage/k8s-device-plugin:${{ github.sha }}
          platforms: linux/amd64
